/*
	Sticky Header
	Note that "scrolled" class is applied via javascript.
*/

//Fallback rules for for no position:sticky; (IE11, mostly)
#site-header {
	@include media-breakpoint-up(lg) {
		position: fixed;
	}

	#site-header-logonav {
		transition: height $speed $ease, padding $speed $ease,
			background-color $speed $ease, box-shadow $speed $ease;
	}

	.logo {
		transition: transform $speed $ease, margin $speed $ease,
			opacity $speed $ease;
	}

	&.scrolled {
		background: rgba($header-bg-color, 0.9);

		#site-header-logonav {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
#site-main {
	/*
		Header height will vary at different viewports.
		These numbers will also be inaccurate if logo changes, in many cases.
	*/
	@include media-breakpoint-up(lg) {
		padding-top: 80px;
	}
}

// Default behavior
@supports (position: sticky) {
	#site-header {
		@include media-breakpoint-up(lg) {
			position: sticky;
		}

		.admin-bar & {
			@include media-breakpoint-up(lg) {
				top: 32px;
			}
		}
	}
	#site-main {
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
	}
}
