.wp-block-buttons {
	@extend %aligncontainer;
}

.wp-block-button {
	.wp-block-button__link {
		@extend .btn;
	}

	&:not(.is-style-link) {
		&.has-large-font-size,
		&.has-extra-large-font-size {
			.wp-block-button__link {
				@extend .btn-lg;
			}
		}

		&.has-small-font-size {
			.wp-block-button__link {
				@extend .btn-sm;
			}
		}
	}

	&:not(.is-style-outline) {
		.wp-block-button__link {
			@extend .btn-secondary;
		}

		&.is-style-alt {
			.wp-block-button__link {
				@extend .btn-primary;
			}
		}
	}

	&.is-style-link {
		font-size: $btn-font-size;
		.wp-block-button__link {
			--bs-btn-color: #{$secondary};
			--bs-btn-hover-color: #{$link-hover-color};

			background-color: transparent;
			color: var(--bs-btn-color);
			font-family: $btn-font-family;
			padding: 0;

			@extend .btn-link;
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn-outline-secondary;

			&:not(.has-text-color) {
				color: var(--bs-btn-color);

				&:hover {
					color: var(--bs-btn-hover-color);
				}
			}
		}
	}

	&.has-large-font-size {
		font-size: $btn-font-size-lg !important;
	}

	&.has-medium-font-size {
		font-size: $btn-font-size-lg !important;
	}

	&.has-small-font-size {
		font-size: $btn-font-size-sm !important;
	}

	&.has-extra-large-font-size {
		font-size: $font-size-lg !important;
	}
}
