.wp-block-columns {
	@extend %aligncontainer;

	> .wp-block-column {
		> *:last-child {
			margin-bottom: 0;
		}
	}

	&.is-style-reverse-on-mobile {
		flex-direction: column-reverse;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
}
