h1,
h2,
h3,
h4,
h5,
h6 {
	&.is-style-with-line {
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			white-space: nowrap;

			&:after {
				background: $success;
				content: "";
				display: inline-block;
				height: 1px;
				margin-left: 0.5em;
				width: 100%;
			}
		}

		&:first-child {
			@include media-breakpoint-up(lg) {
				margin-top: 1em;
			}
		}
	}
}
