.wp-block-image {
	figcaption {
		font-style: italic;
	}

	> a > img,
	> img {
		width: auto;
		height: auto;
	}

	&.alignfull {
		margin-bottom: 0;

		> a > img,
		> img {
			height: auto;
			width: 100%;
		}
	}
}
