$quote-size-px: rem-calc(155);
$quote-size-px-sm: calc($quote-size-px / 2);

.wp-block-quote {
	border-left: none;
	margin-bottom: $paragraph-margin-bottom;
	position: relative;

	@include media-breakpoint-up(lg) {
		padding-left: $quote-size-px-sm;
	}

	&:before {
		display: inline-block;
		position: absolute;
		font-size: $quote-size-px-sm;
		line-height: 1;
		content: "\201C";
		left: calc($quote-size-px-sm / -4);
		top: -0.15em;

		@include media-breakpoint-up(lg) {
			left: 0;
			font-size: rem-calc($quote-size-px);
		}
	}

	p {
		margin-bottom: $paragraph-margin-bottom * 0.6666;
	}

	cite {
		font-size: $font-size-base;
		font-weight: $font-weight-bold;

		&:before {
			content: "\2013";
			display: inline-block;
			margin-right: 0.25em;
		}
	}
}
