hr,
hr.wp-block-separator {
	border-bottom-width: 1px;
	margin-top: $grid-gutter-width;
	margin-bottom: $grid-gutter-width;
	max-width: none;

	@include media-breakpoint-up(lg) {
		margin-top: $grid-gutter-width * 2;
		margin-bottom: $grid-gutter-width * 2;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		width: 100%;

		&.has-background {
			height: 1px;
		}

		@extend %aligncontainer;

		&.alignfull {
			@extend .container-full;
		}

		&.aligncenter {
			max-width: 100px;
		}
	}

	&.is-style-dots {
		&:before {
			font-size: $font-size-lg;
		}
	}
}
