hr,
hr.wp-block-separator {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	max-width: none;

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: none;

		&.alignfull {
			width: 100%;
		}
	}

	&.is-style-dots {
		&:before {
			font-size: 3em;
		}
	}
}
