.accordion {
	&-row {
		border-bottom: 1px solid $gray-100;
		padding-bottom: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;

		&:last-child {
			border-bottom: none;
		}
	}

	&-heading {
		margin: 0;

		@include media-breakpoint-up(md) {
		}

		button {
			color: var(--bs-heading-color, inherit);
			font-weight: $font-weight-bold;
			border: none;
			outline: none;
			background: none;
			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			transition: color $speed $ease;
			gap: 2em;
			text-align: left;
			width: 100%;

			&:hover {
				color: $link-hover-color;
			}

			i {
				color: $success;
				margin-top: 11px;
				font-size: $font-size-base;
				margin-left: auto;
				transform: rotate(-90deg);
				transition: transform $speed $ease;
			}

			&[aria-expanded="true"] {
				i {
					transform: rotate(0);
				}
			}
		}
	}

	.accordion-content {
		.in {
			padding-top: calc($grid-gutter-width / 2);

			@include media-breakpoint-up(lg) {
				max-width: 80%;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}
