.crosssite {
	.inner {
		border-bottom: 1px solid $gray-300;
		border-top: 1px solid $gray-300;
		padding: 0 1em;

		@include media-breakpoint-up(lg) {
			padding: 2em 0;
		}
	}

	.col {
		border-bottom: 1px solid #f2ede7;
		margin-bottom: 0;
		padding-top: 2em;
		padding-bottom: 2em;

		@include media-breakpoint-up(lg) {
			border-bottom: none;
			border-right: 1px solid #f2ede7;
			padding: 1em 2em;
		}

		&:last-child {
			border-bottom: none;
			@include media-breakpoint-up(lg) {
				border-right: none;
			}
		}
	}

	.titleicon {
		color: $success;
		font-size: $font-size-md;
	}

	.excerpt {
		font-size: $font-size-md;

		p {
			margin-bottom: 1em;
		}
	}
}
