/*
	Sticky Header
	Note that "scrolled" class is applied via javascript.
*/

//Fallback rules for for no position:sticky; (IE11, mostly)
#site-header {
	@include media-breakpoint-up(lg) {
		position: fixed;
	}
}
#site-main {
	/*
		Header height will vary at different viewports.
		These numbers will also be inaccurate if logo changes, in many cases.
	*/
	@include media-breakpoint-up(lg) {
		padding-top: 80px;
	}
}

// Default behavior
@supports (position: sticky) {
	#site-header {
		@include media-breakpoint-up(lg) {
			position: sticky;
		}

		.admin-bar & {
			@include media-breakpoint-up(lg) {
				top: 32px;
			}
		}
	}
	#site-main {
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
	}
}
