#site-footer {
	background: $primary;
	color: $gray-300;
	padding: $grid-gutter-width 0 0;

	a,
	.nav-link {
		color: $gray-300;

		&:hover {
			text-decoration: underline;
		}
	}

	.social {
		margin-bottom: $grid-gutter-width-half;

		@include media-breakpoint-up(lg) {
			justify-content: flex-end;
		}

		a {
			color: $white;
			&:hover {
				color: $gray-300;
			}
		}
	}

	.site-footer__content {
		font-size: $font-size-sm;
	}

	.site-footer__content--b {
		font-size: $font-size-sm;
		@include media-breakpoint-up(lg) {
			display: flex;
			justify-content: flex-end;
			text-align: right;
		}
	}

	.site-footer__sub {
		background: darken($primary, 10%);
		color: $gray-300;
		padding: $grid-gutter-width-half 0;
		font-size: $font-size-sm;
		margin-top: $grid-gutter-width;

		.flexgroup {
			justify-content: space-between;
		}
	}
}

#site-footer-navbar-container,
#site-footer-utility-navbar-container {
	padding: 0;

	.nav {
		margin-bottom: $grid-gutter-width-half;

		li {
			+ li {
				margin-left: 1em;
			}
		}

		a {
			color: $white;
		}
	}

	.nav-link {
		padding: 0;
	}
}

#site-footer-utility-navbar-container {
	font-size: $font-size-sm;

	.nav {
		margin-bottom: 0;

		a {
			text-decoration: underline;
			color: $gray-300;
		}
	}
}
