#site-header {
	background: $header-bg-color;
	box-shadow: $box-shadow-sm;
	top: 0;
	width: 100%;
	font-family: $header-navigation-font-family;
	font-weight: $header-navigation-font-weight;
	position: relative;
	z-index: 10002;

	#site-header-logonav {
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
	}

	.logo {
		display: inline-block;
		height: auto;
		width: $logo-width;

		@include media-breakpoint-up(md) {
			width: $logo-width-md;
		}

		@include media-breakpoint-up(lg) {
			width: $logo-width-lg;
		}

		> svg,
		> img {
			height: 100%;
			width: 100%;
		}
	}

	.nav {
		flex-wrap: nowrap;
	}
}

@import "site-header/navigation";
@import "site-header/site-header-standard";
//@import "site-header/site-header-centered";
@import "site-header/sticky";
