.widgets,
.widget-container {
	@extend %resetlist;
}

.widget-container {
	margin-bottom: $grid-gutter-width;

	ul,
	li {
		@extend %resetlist;
	}

	li {
		margin-bottom: calc($grid-gutter-width / 3);
	}

	.widget-title {
		margin-bottom: $grid-gutter-width-half;
	}
}
