.widgets,
.widget-container {
	@include resetlist();
}

.widget-container {
	margin-bottom: $grid-gutter-width;

	ul,
	li {
		@include resetlist();
	}

	li {
		margin-bottom: calc($grid-gutter-width / 3);
	}

	.widget-title {
		margin-bottom: calc($grid-gutter-width / 2);
	}
}
