.woocommerce-order {
	@extend .container, .container-spaced;

	.woocommerce-thankyou-order-received {
		@extend h1;
		color: $success;
		margin-bottom: 1em;
	}

	.woocommerce-order-overview {
		background: $gray-100;
		padding: 2em;
	}
}

.crosssite-woo {
	margin-bottom: 3rem;
}

.single-product {
	.entry-summary {
		font-size: $font-size-md;
	}
}

.woocommerce {
	.quantity .qty {
		@extend .form-control;
		width: 3.631em;
	}

	div.product {
		form.cart {
			.woocommerce-variation-add-to-cart,
			&:not(.variations_form) {
				background: $gray-100;
				overflow: hidden;
				padding: $grid-gutter-width-half;
			}

			.button {
				@extend .btn, .btn-success;
			}

			.variations {
				table-layout: auto;

				th.label {
					width: 12%;
					padding-right: 10px;
				}

				select {
					@extend .form-select;
					display: inline-block;
					margin-bottom: 0;
					width: auto;
				}

				label {
					@extend .form-label;
					margin-bottom: 0;
				}
			}
		}

		p.price {
			margin-bottom: $grid-gutter-width-half;
		}

		.woocommerce-variation-price {
			display: none;
			margin-bottom: $grid-gutter-width-half;
		}
	}
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	#respond
	input#submit.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	#respond
	input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	input.button.alt {
	@extend .btn, .btn-success, .btn-lg;
}

.woocommerce-checkout {
	.container-spaced {
		margin-bottom: $grid-gutter-width * 2;
	}

	form .form-row input.input-text,
	form .form-row textarea {
		@extend .form-control;
	}

	#customer_details {
		margin-bottom: $grid-gutter-width;
	}

	.select2-container--default .select2-selection--single {
		border-color: $gray-400;
	}

	.woocommerce-checkout-payment {
		margin-bottom: $grid-gutter-width;

		.form-row {
			p {
				margin-bottom: 0;
			}
		}

		p.form-row {
			padding: 1em;
		}
	}

	/**
	Hack to hide multiple place order buttons.
	**/
	#place_order ~ #place_order {
		display: none;
	}
}
